/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    /* margin: 0; */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.section-title {
    /* margin: 0; */
    margin: 0 0 30px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*** Ajouts ***/
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    display: block;
    }

header {
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

nav img {
    width: 60px;
    padding: 20px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    border-top: solid 2px transparent;
    padding: 18px 0;
}

nav a:hover {
    color: var(--main-color);
    cursor: pointer;
    border-color: var(--main-color);
}

nav ul {
    display: flex;
    gap: 20px;
}

button {
    color: white;
    border: none;
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    padding: 18px 15px 15px;
}

.filters {
    display: flex;
    align-items:center;
    margin-bottom: 30px;
    gap: 20px;

    ul {
        display: flex;
        gap: 20px;
    }

    li {
        border: 2px solid var(--main-bg-color);
        border-radius: 20px;
        padding: 10px;
        font-weight: bold;

        &:hover,
        &:focus {
            background-color: var(--filter-bg-color);
            cursor: pointer;
        }
    }
}

form {
    padding: 30px 0;
}

.filters h2 {
    margin: 0;
    font-weight: bold;
}

i {
    margin: 0;
    padding: 0;
}

        /* .fa-solid {
            color: var(--main-color);
        } */

        .fa-solid:hover {
            color: var(--main-color);
        }


        .fa-regular {
            color: var(--main-bg-color);
        }

        .fa-regular:hover {
            color: var(--main-color);
        }

        .fa-location-dot {
            color: black;
            background-color: var(--main-bg-color);
            border-radius: 15px 0 0 15px;
            padding: 17px 19px;
            margin-right: -4px;
        }

        [type="search"] {
            
            border-top: solid 1px var(--main-bg-color);
            border-bottom: solid 1px var(--main-bg-color);
            border-left: none;
            border-right: none;
            padding: 18px 0 15px 0;
        }
        


/* .section-title {
    margin: 0 0 30px;
    font-size: 22px;
} */

/* .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
} */

/* .card img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} */

/* .card-title {
    font-size: 16px;
    font-weight: 700;
} */

/* .euro {
    font-weight: 700;
} */

/* .neutral-star {
    color: var(--main-bg-color)
} */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
    gap: 40px;
}


.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}



/****** Hebergements ***********/
.hebergements {
    /* width: 65%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Ajouts */
.hebergements card {
    height: 230px;
}

.hebergements-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.hebergements-cards a {
    width: calc((100% - 60px) / 3);
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin-top: -5px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

/* Ajouts */
.populaires-cards {
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    height: 136px;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

nav ul {
    display: flex;
    gap: 30px;
}

figure {
    margin: 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: #fff;
    border-radius: 20px;

    figcaption {
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: -5px;
        padding: 10px;
    }

}

.activities {
    margin-top: 50px;
    padding: 0 30px;

    ul {
        display: flex;
        gap: 30px;
        
    }

    li {
        width: calc((100% - 90px) / 4);
    }

    img {
        height: 400px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        width: 100%;


    }
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.activities-cards a {
    width: 22%;
    margin-bottom: 30px;


}

.activities-cards img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.activities-cards .card-subtitle {
    margin: 0;
}

.activities-cards .card-rating {
    margin-bottom: 5px;
}

/****** Footer ***********/
footer {
    margin-top: 50px;
    padding: 30px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;

}

.footer-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries (Requêtes des médias) ***********/
/* Medium devices (tablets, less/equal than 1024px) Appareils de taille moyenne */
@media (max-width: 1024px) {

    .filters {
        flex-direction: column;
        align-items: baseline;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .footer-container {
        padding-right: 0;
    }
}


/* Small devices (phones, less than 768px) Petits appareils */
@media (max-width: 767.98px) {
    /* ... */
}